@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.geist{
  font-family: "Geist", sans-serif;
}

.inter{
  font-family: "Inter", sans-serif;
}

.color1{
  color: #1F2937;
}
.color2{
  color: #244D3F;
}