@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

.geist{
  font-family: "Geist", sans-serif;
}

.color1{
  color: #1F2937;
}
.color2{
  color: #244D3F;
}